body{
    background-color:#C9BBCF;
}
table tr td {
    border: 1px ;
    border-style: outset;
    cursor: pointer;
    padding: 10px;
}
th{
    border: 1px;
    border-style: outset;
    cursor: pointer;
    padding: 10px;
}
.table{
    display: grid;
    grid-auto-columns: auto;
}
h1{
    text-align: center;
}
.button{
    margin-left: 1430px;
    margin-top: -50px;

}
button{
    padding: 10px;
    border-radius: 6px;
    color: burlywood;
    cursor: pointer;
    background-color: blue;

}
