<!doctype html>
<html>
    <head><title>Reliance Stock Price Forecasting</title>
        <link href='/static/style.css' rel='stylesheet' />
    </head>
    <body>
        <h1>Reliance Future Stock Price</h1>
        <div class="button">
            <form method="POST" action="/visualize">
                <button  type="submit">Analysis</button>
            </form>
        
        </div>
        <div class='table'>
        <table>
            <tr>
                <th>Date</th>
                <th>Open</th>
                <th>Low</th>
                <th>High</th>
                <th>Close</th>
                <th>Volume</th>
            </tr>
            {% for i in date[:-1] %}
            <tr>
                <td>{{date[loop.index]}}</td>
                <td>{{open[loop.index]}}</td>
                <td>{{low[loop.index]}}</td>
                <td>{{high[loop.index]}}</td>
                <td>{{close[loop.index]}}</td>
                <td>{{volume[loop.index]}}</td>
            </tr>
            {% endfor %}
            

        </table>
    </div>
    </body>
    
</html>