<!doctype html>
<html>
    <head><title>Reliance Stock Price Forecasting</title>
        <link href="/static/style2.css" rel="stylesheet"/>
    </head>
    <body>
        <div class='body'>

        <div class="stock">
        <marquee>Reliance Stock Price Forecasting</marquee>
        </div>
        <div class="form">
        <form actions='/'  method='post'>
            <label>Enter the no of days to be Forecast</label>
            <input name='days' type='number' min=1 required placeholder='number of days'/>
            <input type='submit' class="submit" value = 'Forecast'/>
        </form>
    </div>

</div>
    </body>
    
</html>